@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p, a, li, h1, h3{
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #bbe5f0;
}


/* ESTA ES LA CABECERA*/
.cabecera{
	overflow: hidden;
	background: #dddddd;
}
.cabecera img{
	display: block;
	margin: auto;
}

.cabecera h1{
	text-align: center;
	font-size: 28px;
	color: #F69F2C;
}

.cabecera h3{
	font-size: 25px;
	text-align: center;
	color:dodgerblue;
}


/* AQUI COMIENZA EL MENU*/

.menu{
	background: #333;
	overflow: hidden;
	text-align: center;
}

.menu ul li{
	list-style: none;
	display: inline;
}

.menu ul li a{
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
}
.menu ul li a:hover{
	color: #79F1A4;
}

/* AQUI COMIENZA EL CUERPO */
.slider{
	width: 100%;
}

.iconos{
	overflow: hidden;
	margin:20px 0px ;
}
.iconos h3{
	text-align: center;
	color: #444444;
	font-size: 26px;
}
.iconos div{
	width: 24%;
	float: left;
	overflow: hidden;
}

.iconos div img{
	width: 80%;
	display: block;
	margin: auto;
}
.iconos div p{
	text-align: center;
	color: cornflowerblue;
}

.bienvenida{	
	background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
	padding: 20px;
	font-size: 2rem;
	font-weight: bolder;	
}
.bienvenida p{
	text-align: center;	
	color: #ffffff;
	margin: 20px 30px ;
}


.parallax{
	width: 100%;
	height: 150px;
	background: url(imagenes/fondo.jpg);
	background-size: 200%;
	background-attachment: fixed;
	background-repeat: no-repeat;	
	overflow: hidden;
}
.parallax a{
	display: block;
	padding: 10px;
	width: 150px;
	text-align: center;
	text-decoration: none;
	background: #000000;
	color: #ffffff;
	margin: 50px auto 50px auto;
	transition: 1s;
}
.parallax a:hover{
	background: orange;
	color: #000000;
}


.publicidad{
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
}
.publicidad img{
	width: 25%;
	border-radius: 50rem;
}


/* PIE DE PAGINA */
.piePagina{
	background: #333; 
	color: #ffffff;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}


.servicios{
	color: #fff !important;
	font-size: 3rem !important;
	padding: 1.8rem;
	background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%);
}

.bordertabla{
	border: red;
	border-radius: 2rem;
	gap: 2rem;
}

.botoncontac{
	position:relative;
	top: 0.5rem;
	padding: 0.4rem;
	border: 1px solid #79F1A4;
	border-radius: .25rem;
	color: #79F1A4;
	transition: color .15s ease-in-out,
	background-color .15s ease-in-out;
	text-decoration: none;
}

.botoncontac:hover{
	color: #000000;
	background-color: #79F1A4;
	font-weight: bold;
	transition-duration: 1s;
	font-size: 1.2rem;
}
/*LIBROS*/
.page{
	display: table;
	width: 100%
}
.cuerpo1 {
	float: left;
	width: 60%
}
aside{
	float: right;
	width: 40%
}

.imagen1 img{
	width: 300px;
}
.imagen1 p{
	font-weight: 300;
}


/*FORMULARIO*/
.formulario{
	scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario fieldset{
    border: none; /*Quitar la linea por defecto del Formulario=form*/
   }
   .formulario legend{
    text-align: center; /*Alinear Texto*/
    font-size: 1.8rem;/*TAMAÑO LETRAS*/
    text-transform: uppercase;/*MAYUSCULAS*/
    font-weight: 700;
    margin-bottom: 2rem;
    color: yellow;
	background-color: #333;
	border-radius: 2rem;
   }
   @media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;/*partiendo la columna en dos*/
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
       }
   }

   .campo:nth-child(3),
   .campo:nth-child(4){        /*si hay cuatro clases iguales, si le pones un (1)=eligira el primero de la clase*/
      grid-column: 1 / 3;

   }
 
   .campo{
    margin-bottom: 1rem;

   }
   .campo label{
    color: #FFF;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
   }
   .campo textarea{
    height: 19rem;/*Altura*/
   }
   /*Todos los Inputs tienen Borders feos*/
   .input-text{
    width: 66%;/*Ancho*/
    border: none;
    padding: 1.5rem;
    border-radius: 0.8rem;
   }

   .flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;

}
.boton{
    background-color: #97ABFF;/*Fondo boton*/
    color: var(--blanco); /**Color de la LETRA del boton**/
    padding: 1rem 3rem; /**Esto engorda el boton lo rellena con las dimensiones que tu le das**/
    margin-top: 5.5rem; /**Esto se usa para separar el Boton del elemento Ubicacion**/
    font-size: 2rem;  /**agranda la letra**/
    text-decoration: none; /**quita la linea del texto del boton**/
    text-transform: uppercase; /*pone las letras en MAYUSCULAS*/
    font-weight: bold; /*pone lla letra mas en negrita*/
    border-radius: 2rem; /**le da bordes REDONDOS a tu Boton**/
    width: 90%; /*para que se agrande el boton para otros moviles*/
    text-align: center; /*Responsibe Design*/ 
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.7s;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.botonHov:hover{
    background-color: #0029df; 
    color: #fff;
}
.w-sm-100{
    width: 100%;
}